@import 'tailwindcss';
@plugin "daisyui" {
  logs: false;
  themes: nord --default, dracula --prefersdark;
};
@plugin '@tailwindcss/typography';

@layer base {
  ::-webkit-scrollbar {
    @apply hidden;
  }
}

@layer components {
  #search {
    --pagefind-ui-scale: 1;
    --pagefind-ui-primary: var(--color-primary);
    --pagefind-ui-text: var(--color-base-content);
    --pagefind-ui-background: var(--color-base-100);
    --pagefind-ui-border: var(--color-base-content);
    --pagefind-ui-tag: var(--color-base-content);
    --pagefind-ui-border-width: 1px;
    --pagefind-ui-border-radius: 0.5rem;
    --pagefind-ui-image-border-radius: 0.5rem;
  }
}

@utility shiki {
  & code {
    counter-reset: step;
    counter-increment: step 0;
  }

  & code .line::before {
    content: counter(step);
    counter-increment: step;
    @apply inline-block w-4 mr-4 text-right opacity-50;
  }

  &,
  & span {
    @apply bg-(--shiki-dark-bg) font-(--shiki-dark-font-weight) text-(--shiki-dark)
      [font-style:var(--shiki-dark-font-style)]
      [text-decoration:var(--shiki-dark-text-decoration)];
  }
}


